@model List<ToDoList>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İstatistikler</h4>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-users"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Yetenek Sayısı</p>
                                    <h4 class="card-title">@ViewBag.v1</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-bar-chart"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Toplam Mesaj</p>
                                    <h4 class="card-title">@ViewBag.v2</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-newspaper-o"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Toplam Görev</p>
                                    <h4 class="card-title">@ViewBag.v3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-check-circle"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Okunanlar</p>
                                    <h4 class="card-title">@ViewBag.v4</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
        </div>

        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="card card-tasks">
                    <div class="card-header ">
                        <h4 class="card-title">Görevler</h4>
                        <p class="card-category">Yapılacaklar Listesi</p>
                    </div>
                    <div class="card-body ">
                        <div class="table-full-width">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>Görev</th>
                                        <th>Eylemler</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>
                                                @if (item.Status)
                                                {
                                                    <a href="/ToDoList/_ChangeToDoListStatusToFalse/@item.ToDoListId">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        <span class="form-check-sign"></span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="/ToDoList/_ChangeToDoListStatusToTrue/@item.ToDoListId">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign"></span>
                                                    </a>
                                                }
                                            </td>
                                            <td>@item.Title</td>
                                            <td class="td-actions text-right">
                                                <div class="form-button-action">
                                                    <a href="/ToDoList/UpdateToDoList/@item.ToDoListId" type="button" data-toggle="tooltip"
                                                       title="Düzenle" class="btn btn-link <btn-simple-primary">
                                                        <i class="la la-edit"></i>
                                                    </a>
                                                    <a href="/ToDoList/_DeleteToDoList/@item.ToDoListId" type="button" data-toggle="tooltip"
                                                       title="Sil" class="btn btn-link btn-simple-danger">
                                                        <i class="la la-times"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="stats">
                            <a href="/ToDoList/CreateToDoList/" class="btn btn-primary btn-border btn-round">Yeni Görev Ekle</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-tasks">
                    <div class="card-header ">
                        <h4 class="card-title">Gelen Kutusu</h4>
                        <p class="card-category">Okunmamış Mesajları Görüntüleyin</p>

                    </div>
                    <div class="card-body ">
                        <div class="table-full-width">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Ad Soyad</th>
                                        <th>Konu</th>
                                        <th>Mesajı Aç</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.v5)
                                    {

                                        <tr>
                                            <td><i class="la la-envelope"></i></td>
                                            <td>@item.NameSurname</td>
                                            <td>@item.Subject</td>
                                            <td><a href="/Message/MessageDetail/@item.MessageId" 
                                                class="btn btn-info btn-round">Mesajı Aç</a></td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="stats">
                            <a class="btn btn-default btn-small btn-round btn-border" href="/Message/Inbox"> <strong>Gelen Kutusuna Git</strong> <i class="la la-angle-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
       



    </div>
</div>



